<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">IJM-Fes</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">St</a>
    </div>
    <ul class="sidebar-menu">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['home']" class="nav-link" ><i class="fas fa-fire"></i> <span>Accueil</span></a></li>
      <li class="menu-header">Menu</li>
      <li class="nav-item dropdown">
        <a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fas fa-chalkboard"></i><span>Activités</span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['activites']">liste</a></li>
          <li routerLinkActive="active"><a class="nav-link" [routerLink]="['activites/create']">nouvelle</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-user-graduate"></i><span>Étudiants</span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['etudiants']">liste</a></li>
          <li routerLinkActive="active"><a class="nav-link" [routerLink]="['etudiants/create']">nouveau</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-user"></i><span>Professeurs</span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['professeurs']">liste</a></li>
          <li routerLinkActive="active"><a class="nav-link" [routerLink]="['professeurs/create']">nouveau</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-comment-dollar"></i><span>Paiements</span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['paiments']">liste</a></li>
          <li routerLinkActive="active"><a class="nav-link" [routerLink]="['paiments/create']">nouveau</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-guitar"></i><span>Matières</span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['matieres']">liste</a></li>
          <li routerLinkActive="active"><a class="nav-link" [routerLink]="['matieres/create']">nouvelle</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="far fa-file-alt"></i><span>Examens</span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['examens']">liste</a></li>
          <li routerLinkActive="active"><a class="nav-link" [routerLink]="['examens/create']">nouveau</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-door-open"></i><span>Salles</span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['salles']">liste</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-users"></i><span>Utilisateurs</span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['utilisateurs']">liste</a></li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
