<div *ngIf="passwordClick" style="display: block" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="passwordClick=false;this.password=null" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="    text-align: center;" class="modal-body">
        <div class="alert_success">
          <div class="card">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
              <i class="fas fa-key"></i>
            </div>
            <h1>Le mot de passe</h1>
            <p>{{password}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="imageClick" class=" chocolat-wrapper" id="chocolat-content-1" style="display: block;">
    <div class="chocolat-overlay" style="display: block;"></div>
    <div class="chocolat-loader"></div>
    <div class="chocolat-content" style="overflow: visible; width: 671px; height: 480px; left: 432.5px; top: 137.2px;">
      <img class="chocolat-img" [src]="etudiantClicked?.photo ? etudiantService.url+'/photo/'+etudiantClicked.id : 'assets/img/avatar/avatar-4.png'"></div>
    <div class="chocolat-top"><span (click)="imageClick=false" class="chocolat-close"><i class="fas fa-times"></i></span></div>
    <div class="chocolat-bottom">
      <span class="chocolat-fullscreen"></span>
      <span class="chocolat-description">{{etudiantClicked.fullName}} image</span>
    </div>
  </div>
<section class="etudiant_list_sec section">
  <div class="section-body">
    <div class="float-right">
      <form>
        <div class="input-group">
          <input type="text" class="form-control search-inpt" #searchInput placeholder="Chercher">
          <div class="input-group-append">
            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <h2 class="section-title">La liste des Étudiants</h2>
    <p class="section-lead">cliquez sur détails pour plus d'informations. </p>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-striped table-md">
                <tbody><tr>
                  <th>numéro</th>
                  <th>photo/nom</th>
                  <th>date de naissance</th>
                  <th>adresse</th>
                  <th>mot de passe</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let etudiant of etudiants">
                  <td>{{etudiant.numero}}</td>
                  <td style="cursor: pointer" (click)="imageClick=true;etudiantClicked.photo=etudiant.photo;etudiantClicked.fullName=etudiant.nom+''+etudiant.prenom;etudiantClicked.id=etudiant.id">
                    <img height="35px" width="35px" alt="image" [src]="etudiant.photo ? etudiantService.url+'/photo/'+etudiant.id : 'assets/img/avatar/avatar-4.png'" class="rounded-circle" data-toggle="title" title=""> <div class="d-inline-block ml-1">{{etudiant.nom }} {{etudiant.prenom}}</div>
                  </td>
                  <td>{{etudiant.dateNaissance | date}}</td>
                  <td>{{etudiant.adresse}}</td>
                  <td><div (click)="getPassword(etudiant.id)" style="cursor: pointer" class="badge badge-secondary"><i class="far fa-eye"></i></div></td>
                  <td><a [routerLink]="[etudiant.id]" href="#" class="btn btn-success">Détails</a></td>
                </tr>
                </tbody></table>
            </div>
          </div>
          <div class="card-footer text-right">
            <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li [class]="this.page>0 ? 'page-item' :'page-item  disabled'">
                  <a (click)="changePage('prev',null)" class="page-link" tabindex="1"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li (click)="changePage(null,i)" *ngFor="let p of pages;let i=index" [class]="i==this.page ? 'page-item active' : 'page-item'"><a class="page-link">{{[i+1]}}</a></li>
                <li [class]="this.page==this.pages?.length-1 ? 'page-item disabled' :'page-item'">
                  <a (click)="changePage('next',null)" class="page-link"><i class="fas fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
